<!-- blog/templates/blog/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fullstack en Vrac{% endblock %}</title>
    {% load static %}
    <!-- Ajouter la police Google -->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'post_list' %}">Fullstack en Vrac</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'post_list' %}">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'post_new' %}">Nouvel Article</a></li>
            </ul>
        </div>
    </nav>
    <div id="root"></div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    {% load cache %}
    <aside id="sidebar">

        {% cache 600 sidebar %}
        <!--  <h2>Sidebar</h2> -->
        <ul>
            {% for category in categories %}
            <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
    </aside>
    {% endcache %}

    <footer>
        <p>&copy; 2024 Fullstack en vrac</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>